<a href="https://colab.research.google.com/github/ejariza-evowill/python-pre-program/blob/main/python_sql_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python and SQL for JavaScript Developers

This notebook aims to help developers with a JavaScript background learn the basics of Python and SQL.

## Topics Covered
1. Python Basics
2. Differences Between Python and JavaScript
3. Basic SQL (using `sqlite3` in Python)

Let's get started!

## How to Use This Notebook

A Jupyter Notebook is an interactive environment where you can write and execute code in a web browser. You can run each cell by clicking on it and pressing `Shift + Enter`. The output will be displayed below the cell. You can execute it locally on your machine using [Jupyter Notebook](https://jupyter.org/), it also is possible to use vscode with the [Jupyter extension](https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter).

In our case are going to use [Google Colab](https://colab.research.google.com/), a free cloud-based Jupyter Notebook environment provided by Google. It allows you to run Python code in your browser without any setup. You can also save your notebooks to Google Drive and share them with others.

To be able to save the results of your work, you need to use your Google account.Then you can create a copy of this notebook in your Google Drive by clicking on the "Copy to Drive" button at the top right corner of the notebook. This will create a copy of the notebook in your Google Drive, and you can edit it as you like.

### What is a Jupyter Notebook?
A Jupyter Notebook is an interactive web application that allows you to create and share documents that contain live code, equations, visualizations, and narrative text. It is widely used for data analysis, machine learning, and scientific computing.
Jupyter Notebooks are composed of cells, which can be of different types:

#### Markdown Cells
Markdown cells are used for documentation and explanations. You can write text in Markdown format, which allows you to include headings, lists, links, and more.

#### Code Cells
Code cells are used to write and execute code. You can write Python code in these cells, and when you run them, the output will be displayed below the cell. You can also run bash commands by prefixing the command with an exclamation mark (`!`).

In [ ]:
# This code cell will bring us the repository with the necessary files to work in this workshop.
# Please run it before starting the workshop.

# First, lets clone the repository with the necessary files.
!git clone https://github.com/ejariza-evowill/python-pre-program.git 

# Now we will move the files inside the repository to the current directory.
!mv python-pre-program/* ./


#### Output Cells
Output cells display the results of the code you have executed. This can include text output, tables, plots, and other visualizations.

## 1. Python Basics
### 1.1 Environments and Interpreters

Python is an interpreted language, which means that the code is executed line by line. This allows for quick testing and debugging. For our purposes, we will be using the Python 3.x interpreter, bundled with the Jupyter Notebook environment. In Jupyter, the kernel is the Python interpreter that runs your code. In other environments (like VSCode), you can choose the interpreter you want to use, usually by choosing an environment.

#### Environments

In Python, an environment is a self-contained directory that contains a specific version of Python and any additional packages or libraries you may need. This allows you to create isolated environments for different projects, ensuring that dependencies do not conflict with each other.

#### requirements.txt
A `requirements.txt` file is a text file that lists the packages and their versions required for a Python project. You can create this file manually or use the `pip freeze` command to generate it automatically.

In [ ]:
# Let's install the requirements for the workshop.
!pip install -r requirements.txt

In order to make the kernel aware of the packages you have installed, you need to restart the kernel. This is possible to do my pressing the keys `Ctrl + M` and then pressing the key `.`



### 1.1 Variables and Data Types    

In JavaScript:
```javascript
let myNumber = 10;
let myString = "Hello";
let myBool = true;
```

In Python, we don't need `let` or `var`. Instead, we just write:
```python
my_number = 10
my_string = "Hello"
my_bool = True
```
Python is dynamically typed, just like JavaScript, but notice the difference:
- Booleans in Python start with a capital letter (`True`, `False`).
[(PEP 8 style)](https://peps.python.org/pep-0008/).

In [ ]:
# Let's try it out!
my_number = 10
my_string = "Hello from Python!"
my_bool = True

print("my_number:", my_number)
print("my_string:", my_string)
print("my_bool:", my_bool)

### 1.2 Basic Operations

Like JavaScript, Python can do basic arithmetic:

```python
1 + 2   # Addition
1 - 2   # Subtraction
2 * 3   # Multiplication
4 / 2   # Division (floating point in Python 3)
4 // 2  # Integer division
5 % 2   # Modulus
2 ** 3  # Exponent
```

In [ ]:
# Let's do some arithmetic
print("1 + 2 =", 1 + 2)
print("3 * 4 =", 3 * 4)
print("5 / 2 =", 5 / 2)    # float division
print("5 // 2 =", 5 // 2)  # integer division
print("2 ** 3 =", 2 ** 3)

### 1.3 Strings

Strings in Python can be declared with single or double quotes:

```python
my_string = 'Hello'
another_string = "World"
```

Strings support concatenation, slicing, etc.  
In JavaScript, you might do:
```javascript
let name = "John";
let greeting = `Hello ${name}!`;
```
In Python 3.6+, you can use f-strings:
```python
name = "John"
greeting = f"Hello {name}!"
```

In [ ]:
# Working with strings
name = "John"
greeting = f"Hello {name}!"
print(greeting)

# Some string methods
print(greeting.lower())
print(greeting.upper())
print(greeting.replace("Hello", "Hi"))

### 1.4 Lists, Tuples, and Dictionaries

In JavaScript, we have Arrays (`[]`) and Objects (`{}`) as the core data structures.

In Python:
- **List** (`[]`): Mutable, ordered sequence.
- **Tuple** (`()`): Immutable, ordered sequence.
- **Dictionary** (`{}`): Mutable, unordered collection of key-value pairs.
- **Set** (`{}`): Mutable, unordered collection of unique elements.

Example:
```python
my_list = [1, 2, 3]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Alice", "age": 25}
my_set = {1, 2, 3}
```

In [ ]:
# Let's work with lists, tuples, and dictionaries
my_list = [10, 20, 30]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Alice", "age": 25}
my_set = {1, 2, 3, 4, 5, 5, 6}

print("my_list:", my_list)
print("my_tuple:", my_tuple)
print("my_dict:", my_dict)
print("my_set:", my_set) # Notice that the duplicate '5' is removed

# Modifying the list (lists are mutable)
my_list.append(40)
print("my_list after append:", my_list)

# Trying to modify the tuple would cause an error
# my_tuple[0] = "pear"  # Uncommenting this line would cause a TypeError

# Dictionaries are key-value pairs
my_dict["job"] = "Engineer"
print("my_dict after adding a job:", my_dict)

# Adding a new item to the set
my_set.add(7)
print("my_set after adding 7:", my_set)

### 1.5 Control Flow

Python uses indentation (4 spaces is standard) to define code blocks, whereas JavaScript uses curly braces.  

#### If-Else
In JavaScript:
```javascript
if (condition) {
  // do something
} else {
  // do something else
}
```
In Python:
```python
if condition:
    # do something
else:
    # do something else
```

In [ ]:
# if-else example
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less or equal to 5")

### Indentation versus Curly Braces
Note that in the above example, Python uses indentation to define the scope of the `if` and `else` blocks, this fullfills the same purpose as curly braces in JavaScript.

The indentation level is important in Python, and it must be consistent. Mixing tabs and spaces can lead to errors.

In [ ]:
# This is a well formated python block, with no indentation errors

x = 10
if x > 5:
    if x > 15:
        print("x is greater than 15")
    else:
        print("x is greater than 5 but less than or equal to 15")

#### Practical exercise
Fix indentation errors in the following code:

In [ ]:
x = 10
if x > 5:
print("x is greater than 5")
if x > 15:
print("x is greater than 15")
else:
print("x is less or equal to 5")

#### For Loops
In JavaScript:
```javascript
for (let i = 0; i < 5; i++) {
  console.log(i);
}
```
In Python:
```python
for i in range(5):
    print(i)
```

Where `range(5)` generates numbers from 0 to 4.

In [ ]:
# for-loop example
for i in range(5):
    print(i)

#### While Loops
In JavaScript:
```javascript
let i = 0;
while (i < 5) {
  console.log(i);
  i++;
}
```
In Python:
```python
i = 0
while i < 5:
    print(i)
    i += 1
```

In [ ]:
# while-loop example
i = 0
while i < 5:
    print(i)
    i += 1

### 1.6 Functions

In JavaScript:
```javascript
function greet(name) {
  return `Hello, ${name}!`;
}
```
In Python:
```python
def greet(name):
    return f"Hello, {name}!"
```

#### Annonymous Functions
In JavaScript, you can create anonymous functions (also known as arrow functions):
```javascript
const greet = (name) => {
  return `Hello, ${name}!`;
};
```
In Python, you can use `lambda` functions for short, single-expression functions:
```python
greet = lambda name: f"Hello, {name}!"
```

In [ ]:
# Defining and calling a function in Python
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))
print(greet("Bob"))

### 1.8 Comprehensions
In JavaScript, you might use `map` or `filter` to create new arrays based on existing ones:
```javascript
const numbers = [1, 2, 3, 4];
const squares = numbers.map(num => num * num);
```
In Python, you can use list comprehensions:
```python
numbers = [1, 2, 3, 4]
squares = [num * num for num in numbers]
```

In [ ]:
# Examples of comprehensions
squares = [x**2 for x in range(10)]
print("Squares:", squares)
cubes = {x: x**3 for x in range(5)}
print("Cubes:", cubes)

### Summary: Main differences Between Python and JavaScript

1. **Syntax**: Python uses indentation to define blocks; JavaScript uses curly braces.
2. **Variable Declaration**: Python doesn't require `var`, `let`, or `const`; just assign directly.
3. **Boolean Values**: `True`/`False` in Python vs. `true`/`false` in JS.
4. **Type Conversions**: Both are dynamically typed, but type coercions differ slightly.
5. **Community and Ecosystem**: Python is often used for data science, machine learning, scripting, etc.; JavaScript is primarily used for web development (though Node.js has expanded its scope).

### Practical Exercises

Create a new code cell and implement the following:
1. Write a function in Python that takes a list of numbers and returns the sum of the even numbers.
2. Write a function that takes a string and returns the number of vowels in it.
3. Write a function that takes a dictionary and returns a list of its keys. You may find useful the `keys()` method of dictionaries.
4. Write a function that takes a list of strings and returns a new list with the lengths of each string, you may find useful the `len()` function.
5. Write a function that takes a list of numbers and returns the maximum common divisor (GCD) of the list.

## 2. Basic SQL with Python

### 2.1 Introduction to SQL
SQL (Structured Query Language) is a standard language for managing and manipulating databases. It allows you to perform operations like querying data, inserting new records, updating existing records, and deleting records.
SQL is used in various database systems, including MySQL, PostgreSQL, SQLite, and others. In this notebook, we will use SQLite for demonstration purposes.
SQLite is a lightweight, serverless database engine that is easy to set up and use. It is included with Python's standard library, so you don't need to install anything extra.

We can use Python's built-in `sqlite3` module to run SQL queries on a local, file-based database.

### 2.2 Creating a Simple Database
We'll create a SQLite db to keep things simple. We are going to load the data from `employees.sql` file, which contains a database of employees, and contains the following tables:

1. departments
- This table stores all the departments (e.g., Finance, Engineering, etc.).

2. employees
- This table stores individual employee records. Each employee is linked to exactly one department via the dept_id foreign key.

3. projects
- This table stores project information (e.g., Project Alpha, Project Beta, etc.).

4. employee_projects (join table for a many-to-many relationship)
- This table indicates which employee(s) are assigned to which project(s). The foreign key constraints ensure emp_id and project_id in this table match valid entries in employees and projects, respectively.

In [ ]:
import sqlite3

# Create an employees.db
conn = sqlite3.connect('employees.db')
c = conn.cursor()

# Load the data from employees.sql
with open('employees.sql', 'r') as f:
    sql_script = f.read()
c.executescript(sql_script)
conn.commit()
# Query the database
c.execute("SELECT * FROM employees LIMIT 5")
rows = c.fetchall()
for row in rows:
    print(row)
# Close the connection
conn.close()

In jupyter notebooks is also possible to execute SQL queries directly using the `%%sql` magic command. This allows you to run SQL queries directly in a code cell, and the results will be displayed in a table format. Let's give a try.

In [ ]:
# Let's load the sql extension first
%load_ext sql

In [ ]:
%%sql sqlite:///employees.db
SELECT * FROM employees LIMIT 5

### 2.3 Inserting Data
In SQL, we use `INSERT INTO table_name (columns) VALUES (...)`.  
We'll insert a few sample rows.

In [ ]:
%%sql sqlite:///employees.db

-- Let's count the number of employees
SELECT COUNT(*) FROM employees

In [ ]:

%%sql sqlite:///employees.db

-- Let's add new employees
INSERT INTO employees (first_name, last_name, dept_id, salary, hire_date)
VALUES ('Juan', 'Perez', 1, 50000, '2023-01-01'),
       ('Pedro', 'Rodriguez', 2, 60000, '2023-02-01');

In [ ]:
%%sql sqlite:///employees.db
-- Let's see how many employees we have now
SELECT COUNT(*) FROM employees

### 3.3 Querying Data
Use `SELECT` statements to fetch data.

we can use the WHERE clause to filter results.

In [ ]:
%%sql sqlite:///employees.db
-- Let's see the employees we just added
SELECT * FROM employees WHERE first_name IN ('Juan', 'Pedro')

### 3.4 Updating and Deleting
We can update or delete rows with SQL statements (`UPDATE`, `DELETE`).

In [ ]:
%%sql sqlite:///employees.db
-- Let's update the salary of Juan
UPDATE employees SET salary = 55000 WHERE first_name = 'Juan';

In [ ]:
%%sql sqlite:///employees.db
-- Let's see the results of the update
SELECT * FROM employees WHERE first_name = 'Juan'